mat/*
matlab/mat/*
matlab/Images/*
dataset/*
*.m~
.gitignore~
matlab/rwt-master/bin/*
dataset

matlab/mat/images_noises.mat

matlab/mat/images_weights.mat

matlab/clusters.txt

docs/*.aux

docs/*.log

docs/*.pdf

docs/*.synctex.gz

articles/04451084.pdf

articles/10.1.1.353.1482.pdf

docs/article.bbl

docs/article.blg

docs/slides/slides.synctex.gz

docs/slides/slides.aux

docs/slides/slides.nav

docs/slides/slides.nav

docs/slides/slides.log

docs/slides/slides.aux

docs/slides/slides.pdf

docs/slides/slides.snm

docs/slides/slides.synctex.gz
